:root {
  --main-font-size: 18px;
  --side-padding: 30px;
  --main-padding: 30px;
  --dense-padding: 18px;
  --page-padding-side: 5%;
  --page-padding: var(--main-padding) var(--page-padding-side);
  --page-dense-padding: var(--dense-padding) var(--page-padding-side);
  --main-border: 1px solid #ccc;
  --input-padding:8px;
  --input-border: var(--main-border);
  --input-border-focus: 1px solid black;
  --input-border-radius: 7px;
  --input-text-color: #555;
  --input-text-color-focus: black;
}

@media screen and (max-width: 700px) {
  :root {
    --main-font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  :root {
    --side-padding: 24px;
    --main-padding: 24px;
    --dense-padding: 18px;
    --page-padding-side: 5%;
    --page-padding: var(--main-padding) var(--page-padding-side);
    --page-dense-padding: var(--dense-padding) var(--page-padding-side);
  }
}

html {
  line-height: 1.6;
  font-size: var(--main-font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  font-weight: 700;
}

[data-theme='dark'] h1, [data-theme='dark'] h2, [data-theme='dark'] h3, [data-theme='dark'] h4, [data-theme='dark'] h5, [data-theme='dark'] h6 {
  color: #ddd;
}

h1 {
  font-weight: 900;
  font-size: 3em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.2em;
}

ul, ol {
  margin-left: 25px;
}

p, pre, blockquote, table, ul, ol, form, img, figure {
  color: #333;
  margin-bottom: 1.1em;
}

p + h2, p + h3, p + h4, p + h5, p + h6, pre + h2, pre + h3, pre + h4, pre + h5, pre + h6, blockquote + h2, blockquote + h3, blockquote + h4, blockquote + h5, blockquote + h6, table + h2, table + h3, table + h4, table + h5, table + h6, ul + h2, ul + h3, ul + h4, ul + h5, ul + h6, ol + h2, ol + h3, ol + h4, ol + h5, ol + h6, form + h2, form + h3, form + h4, form + h5, form + h6, img + h2, img + h3, img + h4, img + h5, img + h6, figure + h2, figure + h3, figure + h4, figure + h5, figure + h6 {
  margin-top: 1.1em;
}

p a, pre a, blockquote a, table a, ul a, ol a, form a, img a, figure a {
  text-decoration: none;
  font-weight: bold;
}

p a:hover, pre a:hover, blockquote a:hover, table a:hover, ul a:hover, ol a:hover, form a:hover, img a:hover, figure a:hover {
  text-decoration: underline;
}

[data-theme='dark'] p, [data-theme='dark'] pre, [data-theme='dark'] blockquote, [data-theme='dark'] table, [data-theme='dark'] ul, [data-theme='dark'] ol, [data-theme='dark'] form, [data-theme='dark'] img, [data-theme='dark'] figure {
  color: #ccc;
}

blockquote p {
  margin-bottom: unset;
}

figure {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figure img {
  margin-bottom: unset;
}

figure figcaption {
  font-style: italic;
}

h2 + blockquote, h2 + pre, h2 + form, h2 + img, h2 + figure, h3 + blockquote, h3 + pre, h3 + form, h3 + img, h3 + figure, h4 + blockquote, h4 + pre, h4 + form, h4 + img, h4 + figure, h5 + blockquote, h5 + pre, h5 + form, h5 + img, h5 + figure, h6 + blockquote, h6 + pre, h6 + form, h6 + img, h6 + figure {
  margin-top: 1em;
}

code {
  font-family: Menlo, monospace;
  color: green;
}

pre {
  font-family: Menlo, monospace;
  background-color: #333;
  color: #bbb;
  border-radius: 3px;
  padding: var(--dense-padding);
  overflow-x: scroll;
}

blockquote {
  background-color: rgba(0, 0, 0, 0.1);
  padding: calc(var(--dense-padding) * 0.5);
  padding-left: var(--dense-padding);
  border-radius: 3px;
  font-weight: 500;
}

table {
  width: 100%;
  overflow: scroll;
}

table th, table td {
  border-bottom: var(--main-border);
  padding: calc(var(--dense-padding) *0.5);
}

img {
  max-width: 100%;
  border-radius: 3px;
}
/*# sourceMappingURL=font.css.map */