:root {
  --main-font-size: 18px;
  --side-padding: 30px;
  --main-padding: 30px;
  --dense-padding: 18px;
  --page-padding-side: 5%;
  --page-padding: var(--main-padding) var(--page-padding-side);
  --page-dense-padding: var(--dense-padding) var(--page-padding-side);
  --main-border: 1px solid #ccc;
  --input-padding:8px;
  --input-border: var(--main-border);
  --input-border-focus: 1px solid black;
  --input-border-radius: 7px;
  --input-text-color: #555;
  --input-text-color-focus: black;
}

@media screen and (max-width: 700px) {
  :root {
    --main-font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  :root {
    --side-padding: 24px;
    --main-padding: 24px;
    --dense-padding: 18px;
    --page-padding-side: 5%;
    --page-padding: var(--main-padding) var(--page-padding-side);
    --page-dense-padding: var(--dense-padding) var(--page-padding-side);
  }
}

button, input[type=submit] {
  padding: var(--input-padding);
  border: none;
  border-radius: var(--input-border-radius);
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: 0.5px;
  padding: var(--input-padding) calc(3.4 * var(--input-padding));
  background-color: rgba(0, 0, 255, 0.18);
  color: blue;
  line-height: 1.4;
  display: inline-block;
}

button.dark-gray, input[type=submit].dark-gray {
  background-color: rgba(44, 44, 44, 0.18);
  color: #2c2c2c;
}

button.red, input[type=submit].red {
  background-color: rgba(255, 37, 0, 0.18);
  color: #ff2500;
}

button.green, input[type=submit].green {
  background-color: rgba(66, 148, 22, 0.18);
  color: #296e03;
}

button.white, input[type=submit].white {
  background-color: rgba(64, 64, 64, 0.18);
  color: #787878;
}

button.black, input[type=submit].black {
  background-color: rgba(0, 0, 0, 0.8);
  color: #c8c8c8;
}

button + button, button + a.button, input[type=submit] + button, input[type=submit] + a.button {
  margin-left: 0.5em;
}

a.button {
  text-decoration: none;
  color: unset;
  padding: var(--input-padding);
  border: none;
  border-radius: var(--input-border-radius);
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: 0.5px;
  padding: var(--input-padding) calc(3.4 * var(--input-padding));
  background-color: rgba(0, 0, 255, 0.18);
  color: blue;
  line-height: 1.4;
  display: inline-block;
}

a.button.dark-gray {
  background-color: rgba(44, 44, 44, 0.18);
  color: #2c2c2c;
}

a.button.red {
  background-color: rgba(255, 37, 0, 0.18);
  color: #ff2500;
}

a.button.green {
  background-color: rgba(66, 148, 22, 0.18);
  color: #296e03;
}

a.button.white {
  background-color: rgba(64, 64, 64, 0.18);
  color: #787878;
}

a.button.black {
  background-color: rgba(0, 0, 0, 0.8);
  color: #c8c8c8;
}

a.button + button, a.button + a.button {
  margin-left: 0.5em;
}

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input[type=text] {
  padding: var(--input-padding);
  border: none;
  border-radius: var(--input-border-radius);
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: 0.5px;
  border: 1px solid rgba(0, 0, 0, 0.9);
  background-color: #eee;
  width: 100%;
  display: block;
}

input[type=text]:hover, input[type=text]:focus {
  border: 2px solid blue;
  outline: none;
}

[data-theme='dark'] input[type=text] {
  background-color: #333;
  color: #eee;
}

form.form * + * {
  margin-top: 1em;
}
/*# sourceMappingURL=inputs.css.map */