html {
  line-height: 1.6;
  font-size: var(--main-font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

// import InterUI font


h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
  hyphens: auto;
  font-weight: 700;
}
h1 {
  font-weight: 900;
}

h1 { font-size: 3em; }
h2 { 
  font-size: 2.1em; 
  // border-bottom: var(--main-border);
}
h3 { font-size: 1.7em; }

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child) {
  margin-top: 0.8em;
}

@mixin code {
  font-family: monospace;
  background-color: #333;
  color: #bbb;

  border-radius: 3px;
}

p, pre, blockquote, table {
  color: #333;
  + p , + pre , + blockquote , + table {
    margin-top: 0.9em;
  }

  code {
    @include code;
    padding: 1px 3px;
  }
}

pre {
  @include code;
  padding: var(--dense-padding);
}

blockquote {
  background-color: rgba(0,0,0,0.1);
  border-left: 5px solid blue;

  padding: calc(var(--dense-padding) * 0.5);
  padding-left: var(--dense-padding);

  border-radius: 3px;

  font-style: italic;
}

table {
  width: 100%;
  overflow: scroll;

  th, td {
    border-bottom: var(--main-border);
    padding: calc(var(--dense-padding) *0.5);
  }

}