html {
  line-height: 1.6;
  font-size: var(--main-font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

// import InterUI font


// TODO: cleanup and splitting

h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
  hyphens: auto;
  font-weight: 700;
}
h1 { font-weight: 900; font-size: 3em; }
h2 { font-size: 1.7em; }
h3 { font-size: 1.2em; }


ul, ol {
  margin-left: 25px;
}

@mixin code {
  font-family: Menlo, monospace;
}

p, pre, blockquote, table, ul, ol, form, img, figure {
  color: #333;
  margin-bottom: 1.1em;

  +h2, +h3, +h4, +h5, +h6 {
    margin-top: 1.1em;
    // color: red;
  }
}

// no space below p if inside blockquote
blockquote p {
  margin-bottom: unset;
}

// no space below img if inside fig
figure {
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  img {
    margin-bottom: unset;
  }

  figcaption {
    font-style: italic;
  }
}

h2, h3, h4, h5, h6 {
  // these elements require extra breathing space
  + blockquote, + pre, + form, + img, + figure {
    // color: red;
    margin-top: 1em;
  }
}


code {
  @include code;
  color: green;
  // padding: 1px 3px;
}
pre {
  @include code;
  background-color: #333;
  color: #bbb;
  border-radius: 3px;
  padding: var(--dense-padding);

  // horizontal scrolling
  overflow-x: scroll;
}

blockquote {
  background-color: rgba(0,0,0,0.1);

  padding: calc(var(--dense-padding) * 0.5);
  padding-left: var(--dense-padding);

  border-radius: 3px;

  font-weight: 500;
}

table {
  width: 100%;
  overflow: scroll;

  th, td {
    border-bottom: var(--main-border);
    padding: calc(var(--dense-padding) *0.5);
  }

}

img {
  max-width: 100%;
  border-radius: 3px;
}