// mixins and screen sizes
$phone: 700px;
@mixin mobile-screen {
  @media screen and (max-width: $phone) {
    @content
  }
}

// font sizes
:root {
  // using classic CSS variables because these will be changed in different screen sizes
  --main-font-size: 18px;
  @include mobile-screen {--main-font-size: 16px}

  // paddings
  --side-padding: 30px;
  --main-padding: 30px;
  --dense-padding: 18px;

  --page-padding-side: 5%;
  --page-padding: var(--main-padding) var(--page-padding-side);
  --page-dense-padding: var(--dense-padding) var(--page-padding-side);

  @include mobile-screen {
    --side-padding: 24px;
    --main-padding: 24px;
    --dense-padding: 18px;

    --page-padding-side: 5%;

    --page-padding: var(--main-padding) var(--page-padding-side);
    --page-dense-padding: var(--dense-padding) var(--page-padding-side);
  }
  
  // borders
  --main-border: 1px solid #ccc;


  // inputs
  --input-padding:8px;
  --input-border: var(--main-border);
  --input-border-focus: 1px solid black;
  --input-border-radius: 7px;
  --input-text-color: #555;
  --input-text-color-focus: black;
}
