@import './globals.scss';

// an "input" is a button or text area
@mixin input {
  padding: var(--input-padding);
  border: none;
  border-radius: var(--input-border-radius);

  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: 0.5px;
}

@mixin button {
  @include input;

  // override padding, because more horizintal padding for button
  padding: var(--input-padding) calc(3.4 * var(--input-padding));

  background-color: rgba(0,0,255,0.18);
  color: rgb(0,0,255);

  &.dark-gray {
    background-color: rgba(44,44,44,0.18);
    color: rgb(44,44,44);
  }

  &.red {
    background-color: rgba(255,37,0,0.18);
    color: rgb(255,37,0);
  }

  &.green {
    background-color: rgba(66, 148, 22, 0.18);
    color: rgb(41, 110, 3);
  }

  &.white {
    background-color: rgba(64,64,64,0.18);
    color: rgb(120,120,120);
  }

  &.black {
    background-color: rgba(0,0,0,0.8);
    color: rgb(200,200,200);
  }

  // for groups
  + button , + a.button {
    margin-left: 0.5em;
  }

  line-height: 1.4;
  display: inline-block;
}

button, input[type=submit] {
  @include button;
}

a.button {
  text-decoration: none;
  color: unset;
  // no underline, no blue

  @include button;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

input[type=text] {
  @include input;
  // border: var(--main-border);
  border: 1px solid rgba(0,0,0,0.9);
  background-color: #eee;

  width: 100%;
  display: block;

  &:hover, &:focus {
    border: 2px solid blue;
    outline: none;
  }

  @include dark-theme {
    background-color: #333;
    color: #eee;
  }
}

form.form {
  * + * {
    margin-top: 1em;
  }
}