@import './globals.scss';
@import './font_families.scss';

// Fix for FontAwesome fonts
*:not(svg) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $sansserif;

  @include serif-font {
    @import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700&display=swap');
    font-family: $serif; 
  }

}
svg {
  font-size: unset;
}



body {
  background-color: white;

  // cannot use mizin because [data-theme] is applied to body
  &[data-theme='dark'] {
    background-color: #19191a;
  }
}


.wrapper {
  padding: var(--main-padding) 20%;

  @include mobile-screen {
    padding: var(--main-padding) 5%;
  }
}