$blue: #417af7;
$green: #02b056;
$yellow: #fda900;
$red: #e52723;
$purple: #9c4fdd;
$pink: #f96495;
$white: #fffffe;
$gray: #b9c2cc;
$black: #222;
$color-list: $blue $green $yellow $red $purple $pink $white $gray $black;
$color-names: "blue" "green" "yellow" "red" "purple" "pink" "white" "gray" "black";