body {
  background-color: white;

  // cannot use mizin because [data-theme] is applied to body
  &[data-theme='dark'] {
    background-color: #19191a;
  }
}


// import mobile screen
@import './variables.scss';

.wrapper {
  padding: var(--main-padding) 20%;

  @include mobile-screen {
    padding: var(--main-padding) 5%;
  }
}